<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <!-- Variáveis de ambiente ou perfis -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />
    <property name="LOG_PATH" value="logs" />


    <!-- JSON Encoder para Console -->
    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>traceId</includeMdcKeyName>
            <includeMdcKeyName>userId</includeMdcKeyName>
        </encoder>
    </appender>

    <!-- (Opcional) Log de texto para ambientes locais -->
    <appender name="TEXT_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Root Logger -->
    <root level="INFO">
        <!-- Use apenas um dependendo do ambiente -->
        <appender-ref ref="JSON_CONSOLE" />
        <!-- <appender-ref ref="TEXT_CONSOLE" /> -->
    </root>

    <!-- Logger específico (exemplo para Spring Security) -->
    <logger name="org.springframework.security" level="WARN"/>

</configuration>
